.hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero-img {
        border-radius: 50%;
        width: 600px;
        height: 600px;
        margin: 10px 0;

        @media (max-width: 360px - 1px) {
            padding: 20px;
        }
    }

    .hero-text {
        max-width: 640px;
        margin: 20px 0 !important;

        @media (max-width: 360px - 1px) {
            margin: 5px 0 !important;
        }
    }
}
